numpy
pandas
matplotlib
torch
torchvision
ultralytics
rfdetr
roboflow
wandb
geopandas
shapely
fiona
pyproj
rtree
contextily
bokeh
earthengine-api
requests
tqdm
pyarrow
git+https://github.com/facebookresearch/detectron2.git
